body {
    background-color: black;
    font-size: 1rem;
    color: white;
}

main {
    padding-left: 650px;
    padding-top: 100px;
}






#contenitore img {
    width: 100px;
    height: 100px;
}

#contenitore {
    display: flex;
    
}

#contenitore > div:last-child {
    margin-left: 30px;
}



form select {
    background-color: black;
    color: white;
}

#ratings {
    background-color: rgb(51, 51, 51);
    color: white;
    font-weight: bold;
    border: none;
    margin: 10px 0px;
}

#edit {
    background-color: black;
    color: grey;
    border: 1px solid gray;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.form-check p {
    position: relative;
    right: 25px;
    top: 10px;
}

.form-check label {
    font-size: 0.7rem;
}

#buttons {
    margin-top: 50px;   
}

.specials {
    padding: 5px 30px;
    margin: 0px 10px;
    background-color: black;
    color: grey;
    border: 1px solid gray;
}

.specials:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    
}

